streamlit>=1.36
pandas>=2.0
pyarrow>=14
numpy
google-api-python-client>=2.130.0
google-auth>=2.33.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.0
oauth2client
pydrive2
gspread>=6.1.2
gspread-dataframe>=3.3.1
xlsxwriter>=3.2.0
openpyxl>=3.1.5
fpdf
matplotlib
